@import "tailwindcss";

@theme {
  --color-background: #3e1e68;
  --color-foreground: #f9f9fb;
  --color-primary: #5d2f77;
  --color-secondary: #e45a92;
  --color-accent: #ffacac;
}

body {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.shimmer {
  position: relative;
  overflow: hidden;
}

.shimmer::after {
  content: "";
  position: absolute;
  inset: 0;
  transform: translateX(-100%);
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.2),
    transparent
  );
  animation: shimmer 1.5s infinite;
}
